<h1> Where are form is to create books </h1>
<%= form_for Book.new, url: { action: 'create' } do |f| %>
	Title: <%= f.text_field :title %>
	Description: <%= f.text_area :description %>
	<%= f.submit "Create" %>
<% end %>